<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brandId</key>
		<string>20150520104604126C22138DC-56F5-4668-9855-44D4E149539C</string>
		<key>brandName</key>
		<string>欧比亚斯</string>
		<key>products</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string>卧室,书房,厨房,卫浴间,衣帽间,阳台,玄关/过道/廊道,高层/复式/别墅,低户型</string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>20150520104604126C22138DC-56F5-4668-9855-44D4E149539C</string>
				<key>brandName</key>
				<string>欧比亚斯</string>
				<key>brandPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/欧比亚斯_20150829160804641.jpg</string>
				<key>cartId</key>
				<string>f5404a35-2498-4ad3-8a39-72117105c913</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>3</integer>
				<key>originPrice</key>
				<integer>180</integer>
				<key>productColor</key>
				<string>喷漆,喷漆彩色</string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>productId</key>
				<string>20150619133056858-91809189-DD5D-4E00-94E7-4257E19FFF31</string>
				<key>productMade</key>
				<string>铁</string>
				<key>productName</key>
				<string>E淘-吸顶灯(D260*H200mm)</string>
				<key>productNum</key>
				<string>8063XD-3</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/8063XD-3小_20160419103234235.png</string>
				<key>productPrice</key>
				<integer>54</integer>
				<key>productQty</key>
				<integer>17</integer>
				<key>productStocks</key>
				<integer>17</integer>
				<key>productStyle</key>
				<string>欧式风格,古典风格</string>
				<key>productType</key>
				<string>吸顶灯</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>200</integer>
				<key>specLength</key>
				<integer>0</integer>
				<key>specWidth</key>
				<integer>260</integer>
				<key>time</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandId</key>
		<string>20150520103700232B86927F5-F1D6-434F-BA53-6C7D928F3120</string>
		<key>brandName</key>
		<string>哈佛斯顿</string>
		<key>products</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string>客厅,餐厅,高层/复式/别墅</string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>20150520103700232B86927F5-F1D6-434F-BA53-6C7D928F3120</string>
				<key>brandName</key>
				<string>哈佛斯顿</string>
				<key>brandPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/哈佛斯顿_20150829155029543.jpg</string>
				<key>cartId</key>
				<string>83c918e8-1177-4415-8d62-9ab821a58019</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>1</integer>
				<key>originPrice</key>
				<integer>140</integer>
				<key>productColor</key>
				<string>染色,染色黄铜色</string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>productId</key>
				<string>20160416175359622-8DB859A5-81C8-4DB2-B0F1-6F84D923D04E</string>
				<key>productMade</key>
				<string>铜</string>
				<key>productName</key>
				<string>E淘-吸顶灯（D450*H430mm）</string>
				<key>productNum</key>
				<string>G3988/1</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/未标题-1_20160416175411242_20160420113120500.png</string>
				<key>productPrice</key>
				<integer>42</integer>
				<key>productQty</key>
				<integer>1</integer>
				<key>productStocks</key>
				<integer>979</integer>
				<key>productStyle</key>
				<string>美式风格,简约美式</string>
				<key>productType</key>
				<string>吸顶灯</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>190</integer>
				<key>specLength</key>
				<integer>0</integer>
				<key>specWidth</key>
				<integer>180</integer>
				<key>time</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandId</key>
		<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
		<key>brandName</key>
		<string>成虹</string>
		<key>products</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string>其他</string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>brandName</key>
				<string>成虹</string>
				<key>brandPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/成虹_20150922142034554.jpg</string>
				<key>cartId</key>
				<string>9eaa0976-99f4-41e7-865b-7453cd739be8</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>0</integer>
				<key>originPrice</key>
				<integer>17</integer>
				<key>productColor</key>
				<string></string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>productId</key>
				<string>20150922093021608-42ED688D-D273-4544-AB5E-4F7B33FF6C75</string>
				<key>productMade</key>
				<string>铝</string>
				<key>productName</key>
				<string>E淘-商业照明（D190*H75mm）</string>
				<key>productNum</key>
				<string>FB-TD1501/4000K</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>productPrice</key>
				<integer>13</integer>
				<key>productQty</key>
				<integer>3</integer>
				<key>productStocks</key>
				<integer>2959</integer>
				<key>productStyle</key>
				<string>商照电工,筒灯</string>
				<key>productType</key>
				<string>商业照明</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>75</integer>
				<key>specLength</key>
				<integer>190</integer>
				<key>specWidth</key>
				<integer>0</integer>
				<key>time</key>
				<string></string>
			</dict>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string></string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>brandName</key>
				<string>成虹</string>
				<key>brandPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/成虹_20150922142034554.jpg</string>
				<key>cartId</key>
				<string>b5495064-bf5b-4425-96a6-c5ee02e3b837</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>0</integer>
				<key>originPrice</key>
				<integer>8</integer>
				<key>productColor</key>
				<string></string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>productId</key>
				<string>20160417110109702-FB5046A7-11BD-4FE7-8963-DC1356C2FFDE</string>
				<key>productMade</key>
				<string></string>
				<key>productName</key>
				<string>E淘-商业照明(D35*H101mm)</string>
				<key>productNum</key>
				<string>ZR-LP5001-尖/3000K</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>productPrice</key>
				<integer>6</integer>
				<key>productQty</key>
				<integer>3</integer>
				<key>productStocks</key>
				<integer>1000</integer>
				<key>productStyle</key>
				<string></string>
				<key>productType</key>
				<string>商业照明</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>101</integer>
				<key>specLength</key>
				<integer>35</integer>
				<key>specWidth</key>
				<integer>0</integer>
				<key>time</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandId</key>
		<string>201506151539343818FD4F4F1-73BD-48D3-82EF-2E3CE387192D</string>
		<key>brandName</key>
		<string>测试品牌01</string>
		<key>products</key>
		<array>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string></string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>201506151539343818FD4F4F1-73BD-48D3-82EF-2E3CE387192D</string>
				<key>brandName</key>
				<string>测试品牌01</string>
				<key>brandPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/1_20150720211703024.jpg</string>
				<key>cartId</key>
				<string>267a404a-ed8e-43d1-ad97-5a519777556e</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>8</integer>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>productColor</key>
				<string></string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>productId</key>
				<string>20150615164427547-DDFCC481-8E1F-44D1-8451-46E38D7A0436</string>
				<key>productMade</key>
				<string></string>
				<key>productName</key>
				<string>演示产品01001</string>
				<key>productNum</key>
				<string>yscp01001</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/DSC_3609-8ZT_20150615184545875.png</string>
				<key>productPrice</key>
				<integer>1</integer>
				<key>productQty</key>
				<integer>78</integer>
				<key>productStocks</key>
				<integer>78</integer>
				<key>productStyle</key>
				<string></string>
				<key>productType</key>
				<string>吊灯</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>243</integer>
				<key>specLength</key>
				<integer>232</integer>
				<key>specWidth</key>
				<integer>342</integer>
				<key>time</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
